form.jform
	h3|Custom interface component: <span>ajaxform</span>
	h3|Features: <span>form with script, which can validate SPAM on client-side, check filled data and inform user about data-delivery status. All input data sends on server by jQuery serialize() method.</span>

	.jform__group
		label.jform__label|Ваше имя
			input.jform__input.jform__field(type='text', placeholder='Обязательное поле', data-type='required', name='name')
	.jform__group
		label.jform__label|Номер телефона
		input.jform__input.jform__field(type='text', placeholder='Обязательное поле', data-type='phone', name='phone')
	input(type='hidden').jform__spamkiller
	button(type='submit').jform__submit|Перезвонить
include ../modal/mixins/response.modal.pug
